/* Hover EFFECT */
button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #29ca0c;
}
/* font style */
  
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  /* banner syle */

  .secondary-background{
    background-color: #C6E4D6;
  }
ul li{
    list-style: none;
  }
  ul li h1{
    font-size: 56px;
    margin-left: 60px;
  }
  ul li h4{
    color:#0e0e0e;
    font-size:24px;
    opacity: 50%;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
    
  }
 .sec-banner{
    padding: 0px;
    margin: 20px 160px;
    justify-content: space-between;
    border: none;

    
 }
 .banner-pro-pic{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
    width: 474px;
 }
 .about{
  border-radius: 30px;
 }
 .primary-btn{
  background-color:#006a50 ;
  color:#ffffff ;
  font-weight: 270px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
 }
 .alingment{
  margin-left: 60px;
 }
 
 /* paragraph opacity */
 .text-op{
  opacity: 60%;
 }

 /* The vision of the future */

 main{
  max-width: 2230px;
  margin: 80px auto;
}

 .achivement-title{
  font-size: 20px;
  font-weight: bold;
}

.vision-container{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.vision{   
  border-radius: 16;
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}
.gt{
  background-color: rgba(84, 144, 245, 20%);
}
.ge{
  background-color: rgba(198, 228, 214, 100%);
}
.mi{
  background-color: #F7EBCF;
}
.transformation{
  border-radius: 8px;
  background-color: #5490F5;
  color: #FFFFFF;
  padding: 11px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.energy{
  border-radius: 8px;
  background-color: #09A15C;
  color: #FFFFFF;
  padding: 11px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.infrastructure{
  border-radius: 8px;
  background-color: #FFC239;
  color: #FFFFFF;
  padding: 11px 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
textarea{
  padding-left: 0;
  margin-left: 0;
}

/* Secondary Font */
.secondary-font{
  color: rgba(14, 14, 14, 70%);
}
.younus{
  border-radius: 16px;
  margin: 32px 0;
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border: none;
  background-image: url("assets/quote-bg.png");
}
.recent-news-div{
  display: flex;   
  border-radius: 16;
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  margin: 24px;
}

.taka-container{
  text-align: center;
  justify-content: space-between;

}
.donate-taka{
  display: flex;
  justify-content: center;
  gap: 60px;
}
.taka{    
  border-radius: 16;
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}
.younus-p{
  padding-left: 0;
  padding-top: 35px;
}
.younus-bg{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.taka-font{
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 80%);
}
.donate-font{
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 100%);

}
.other-taka{
  width: 50%;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
section div textarea{
  height: 60px;
  width: 1000px;
  justify-content: space-between;
  margin-left: 180px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: none;

}
section div input[type="email"]{
  height: 64px;
  background-color: #FFFFFF;
  display: block;
  width: 600px;
  margin-bottom: 24px;
  margin-left: 124px;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: none;
}
.layout-title{
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  font-weight: bold;
}
.layout-design{
  justify-content: center;
  padding-left: 0px;
  text-align: center;
  padding-bottom: 20px;
  text-wrap: 50px;
}
.bonus{
  display: flex;
  padding: 0;
  justify-content: center;
}
.color-bg{
  background-color: #C6E4D6;
  border-radius: 24px;
}
.layout{
  padding: 80px 265px;
}
.form-class{
  margin-left: 0px;
}
.satellite{
  border-radius: 30px;
}

/* Button  */
.btn-primary{
  background-color: #006A50;
  color: #FFFFFF;
  font-weight: 270px;
  padding: 18px 35px;
  border-radius: 5px;
  border:none;
}
.btn-subscribe{
  background-color: #006A50;
  color: #FFFFFF;
  font-weight: 270px;
  border-radius: 5px;
  border:none;
  margin: 0;
  width: 150px;
  height: 85px;
  display: block;
}
.last-p{
  justify-content: space-between;
  text-align: center;
  padding-bottom: 60px; 
}
